body {
  background-color: #cffff6;
}
.main {
  display: flex;
  background: "#BDBDBD";
  //   flex-direction: column; MEDIA QUERY FOR SMALL DEVICE
  margin-left: 3%;
  .mydata {
    background-color: "#CFFFF6";
    flex: 1;
    & .placesDiv {
      height: 77vh;
      overflow: auto;
      margin-top: 1rem;
    }
  }
}
.topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  .topHeaderContent {
    margin-right: 5%;
  }
}
.searchBar {
  .textField {
    width: 94%;
    margin-top: 10px;
    & p {
      color: blue;
      background-color: wheat;
      margin: 0;
    }
  }
}
.checkBoxes {
  display: flex;
  flex-direction: row;
  margin-top: 11px;
}
.checkBoxStyle {
  width: 35%;
  margin-right: 5px;
}
